body {
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
    font-style: italic;
    color: cyan;
}

#p1 {
    color: blueviolet;
}

#p2 {
    color: gold;
}

.tampil {
    font-weight: bold;
}

ul li a {
    color: blue;
}

ol li a {
    color: red;
}